.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select:none;
}
textarea {
    overflow: auto;
    vertical-align:top
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color:#357ebd;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3276b1;
    border-color:#285e8e;
}
.form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align:middle;
}
.form-group {
    margin-bottom:15px;
}